body{
  background-image:url("https://media.istockphoto.com/id/1165399909/photo/delicious-meal-on-a-black-plate-top-view-copy-space.jpg?s=612x612&w=0&k=20&c=vrMzS4pY_QjiDtCzpVE3ClKqbU636fb4CKH0nlsduC4=");
  background-repeat: no-repeat;
  background-size: cover;
}
  
h1{
    text-align:center ;
    color:white;
    padding:150px;
 } 
 